/* 1. GENERAL */
* {
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #152238;
}
body {
    font-family: Poppins;
    padding: 0;
    margin: 0;
    background-color: #152238;
    background-image: linear-gradient(#FCFCFC, #FBFBFB, #F5F5F5, #F0F0F0);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
}
.padding-0{
    padding: 0 !important;
}
.padding-25{
    padding: 25px;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0!important;
    overflow: hidden;
    background-color: #152238;
}
button:focus{
    outline: none !important;
}
/* 2. NAVBAR */ 
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color:#ff400000 !important;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
}
.header-scrolled .navbar-brand img{
    width: 125px;
    height: auto;
}
.header-scrolled .nav-link-number {
    display: none;
}
.navbar{
    background-color: #ff400000;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-nav{
    align-items: center;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand img {
    margin-left: 15px;
    width: 155px;
    height: auto;
}
.navbar-brand-menu{
    margin-right: 40px;
}
.menu-navbar-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-nav:not(.menu-navbar-nav) .nav-item:last-of-type {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.nav-item .nav-link{
    color: #152238;
    text-align: right;
}
.nav-item .nav-link:hover .nav-link-number{
    color: #ff4000c0 !important; 
}
.nav-item .nav-link:hover .nav-link-menu{
    color: #ff4000c0 !important; 
}

.nav-link-number{
    font-family: Poppins;
    font-weight: 200!important;
    font-size: 12px;
    color: #CCCCCC;
    letter-spacing: 1.5px;
    line-height: 1;
}
.nav-link-menu{
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    color: #CCCCCC;
    line-height: 1;
}
.learn-more-btn{
    background-color: #ff4000c0;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    color: #fff;
    padding: 12px 40px !important;
    border-radius: 30px;
}
.learn-more-btn:hover{
    color: #fff;
}
.btn-invert{
    background-color: #ff4000c0!important;
}
.btn-invert:hover{
    background-color: #007bff!important;
}
.navbar-toggler-icon{
    background-image: url("../images/favicon_img.png");
}
@media screen and (max-width: 991.98px){
.navbar{
    background-color: #152238;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
}
.navbar-brand img {
    width: 100px!important;
    padding: 10px 0;
}
.header-scrolled{
    height: inherit;
}
}
@media screen and (max-width: 575.98px){
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
    }
    .menu-navbar-nav {
        padding-bottom: 10px;
    }
}
/* 3. HEADER */
.header{
    display: flex;
    width: 100%;
    padding: 100px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.header-img-section img{
    width: 100%;
}
.header-subtitle{
    font-family: Poppins;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 10px;
    color: #fbfbfb;
}
.header-title{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 60px;
    line-height: 1;
    padding-bottom: 25px;
    color: #ff4000c0;
}
.header-title-text{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 15px;
    color: #fbfbfb;
}
.learn-more-btn-section{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}
@media screen and (max-width: 991.98px){
    .header-container{
        flex-direction: column;
    }
    .header-title-section{
        text-align: center;
        margin-top: 40px;
    }
    .navbar-collapse{
        background-color: #152238;
        color: #505050;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .navbar-collapse .nav-link-menu {
        color: #505050;
    }
    .nav-link-number{
        color: #152238;
        display: none;
    }
    .nav-link-menu{
        color: #152238;
    }
    .learn-more-btn-section{
        justify-content: center;
    }
}
@media screen and (max-width: 799.98px){
    .header{
        height: auto;
        padding-top: 20%;
    }
}
@media screen and (max-width: 499.98px){
    .header{
        padding-top: 30%;
    }
    .header-subtitle{
        font-size: 24px;
    }
    .header-title{
        font-size: 46px;
    }
    .header-title-text{
        font-size: 18px;
    }
}
/* 9. FOOTER SECTION */
.footer-section{
    padding-top: 75px;
    padding-bottom: 55px;
    margin-bottom: 0px!important;
    position: relative;
    background-color: #192841;
    color: #FFFFFF;
}
.footer-section a{
    color: #D4E5FF;
}
.footer-section-bg-graphics{
    position: absolute;
    right: -10%;
    bottom: 0%;
}
.footer-container{
    display: flex;
    position: relative;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-right: 40px;
}
.footer-logo img{
    width: 125px;
    margin-bottom: 15px;
}
.footer-logo p{
    max-width: 250px;
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;   
}
.footer-form{
    padding-right: 0px!important;
}
.footer-subsection{
    padding-left: 40px;
    padding-right: 40px;
}
.footer-subsection-title{
    font-size: 27px;
    font-family: Poppins;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 2.2;
    margin-bottom: 10px;
}
.footer-subsection-text{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400; 
}
.footer-subsection-2-1{
    margin-bottom: 20px;
}
.footer-subsection-2-2{
    margin-bottom: 20px;
}
.footer-subsection-list{
    list-style: none;
    padding-left: 28px;
}
.footer-subsection-list li{
    font-size: 16px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-top: 10px;
    display: table-row;
}
.footer-subsection-list li:after {
    content: "";
    display:block;
    margin-bottom:10px;
}
.footer-subsection-list li:nth-child(1):before{
    font-family: "FontAwesome";
    content: "\f041";
    font-size: 25px;
    line-height: 1.25;
    left:41px;
    position:absolute;
    display: table-cell;
    color:#A4C4F3;
}
.footer-subsection-list li:nth-child(2):before{
    font-family: "FontAwesome";
    content: "\f095";
    font-size: 20px;
    line-height: 1.25;
    left:41px;
    position:absolute;
    display: table-cell;
    color:#A4C4F3;
}
.footer-subsection-list li:nth-child(3):before{
    font-family: "FontAwesome";
    content: "\f0e0";
    font-size: 17px;
    line-height: 1.25;
    left:41px;
    position:absolute;
    display: table-cell;
    color:#A4C4F3;
}
.footer-subsection-list-call{
    color: #FFFFFF;
}
.footer-subsection-list-email{
    color: #FFFFFF;
}
.footer-subsection-list-call:hover{
    color: #ff4000c0;
    text-decoration: none;
}
.footer-subsection-list-email:hover{
    color: #ff4000c0;
    text-decoration: none;
}
.footer-social-media-icons-section{
    display: flex;
}
.footer-social-media-icon{
    justify-content: center;
    align-items: center;
    padding-right: 25px;    
}
.footer-social-media-icon .fa{
    color: #FFFFFF;
    font-size: 29px;
    text-decoration: none!important;
}
.footer-social-media-icon .fa:hover{
    color: #007bff;    }
.footer-credits{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-credits p{
    font-size: 16px;
    font-weight: 400;
    color: #D4E5FF;
    font-family: Montserrat;
    line-height: 1;
}
.footer-credits a{
    font-weight:700;
}
@media screen and (max-width: 991.98px){ 
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-logo {
        padding-left: 40px;
    }
    .footer-form {
        padding-right: 40px!important;
    }
    .footer-subsection-form-input{
    width: 85%;
}
}

/* SWIPER */

.swiper-container {
    width: 80%;
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #192841;
    color: white;
    font-size: 24px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    overflow: hidden;
    flex-direction: row; /* Align image and text horizontally */
    padding: 20px;
    height: 100%; /* Ensure the slide takes the full height */
    text-align: center;
}

.slide-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #ff4000c0;
}

.slide-content {
    display: flex;
    flex-direction: row; /* Align image and text horizontally */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    width: 100%;
    height: 100%;
    gap: 20px; /* Space between the image and text */
}

.slide-content img {
    width: 48%;
    height: auto;
    object-fit: contain;
}

.slide-content div {
    width: 48%;
    text-align: left;
}


/* BOXES */ 

.box-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px; 
}

.box {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background-color: #192841;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column; 
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.box-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff4000c0;
}

.box-body {
    font-size: 16px;
    line-height: 1.5;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.fade-in {
animation: fadeIn ease 3s;
-webkit-animation: fadeIn ease 3s;
-moz-animation: fadeIn ease 3s;
-o-animation: fadeIn ease 3s;
-ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@-moz-keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@-webkit-keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@-o-keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@-ms-keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}
.icon{
  margin-top: 5px;
  width: 50%;
  color: rgb(255, 173, 42);
  padding: 10px;
  align-self: flex-start;

}
.icon i{
  margin-left: 10px;
}
